/* font-family: 'Prompt', sans-serif; */

* {
  box-sizing: border-box;
}
/* body layout nadtext*/ 
body {
  background: url(image/filmset.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
}
header {
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  font-size:  25px;
  text-align: center;
  color:black;
  text-shadow: 2px 2px #FF0000;
}

 /* form position and style */
.formcenter {
  margin-left: 25%;
  display: flexbox;
}


form {
  display: flex;
  flex-flow: row;
  align-items: center;
  /* margin-left: 500px; */
  padding-top: 200px;
  font-family: 'Prompt', sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 21px;
}
/* Full-width input fields */

input[type=text] {
  width: 50%px;
  padding: 12px 12px 12px 12px;
  border: 3px solid rgb(245, 56, 9);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

label {
  padding: 12px;
  display: inline-block;
}

/* Style the submit button */

input[type=submit] {
  background-color: #f30b3d;
  color: white;
  padding: 12px 20px;
  border: solid;
  border-color: rgb(105, 54, 172);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

.group {
  display: flexbox;
  flex-direction: row;
}


/* Set a style for the submit button */

.button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border-color: black;
  border-style: solid;
  ;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
  float: left;
}

.button:hover {
  opacity: 1;
}


/* containers layouts tricks */
.results-listing {
  desplay: inline-flexbox;
  margin-left: 30px;


}
.container {
  display: flexbox;
   max-width: auto; 
   padding: 12px;
  font-family: 'Prompt', sans-serif;
  /* position: relative; */
  text-align: center;
  color: white;
  display: inline-block;
  vertical-align: top;

}
.summary-action {
  display: inline-flexbox;
  flex: row;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

.summarytext{
  display: flexbox;
  background-color: white;
  border: solid;
  border-color: red;
  border-radius: 5px;
  padding: 13px 13px;
  max-width: 25%;
  margin-left: 35%;

}



p, section {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
}
/* images - poster */
img {
  display: flexbox;
  max-width: 50%;
  max-height: auto;
  margin: 0 auto;
}



/* list and links */
ul {
  font-size: 20px;
  max-width: 400px;
  list-style-type: none;
  background: red;
  padding: 1px;
  font-family: 'Prompt', sans-serif;
  color: black;
}

ul li {
  list-style-type: none;
  background: white;
  margin: 2px;
}
a:link {
  text-decoration: none;
}

/* unvisited link */

a:link {
  color: black;
}

/* visited link */

a:visited {
  color: orange;
}

/* mouse over link */

a:hover {
  color: hotpink;
}

/* selected link */

a:active {
  color: blue;
}



/* @media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
} */

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img-bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }