/* font-family: 'Prompt', sans-serif; */

* {
  box-sizing: border-box;
}
/* body layout nadtext*/ 
body {
  background: url(image/filmset.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}
header {
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  font-size:  25px;
  text-align: center;
  color:black;
  text-shadow: 2px 2px #FF0000;
}

 /* form position and style */
.formcenter {
  margin-left: 25%;
  display: flexbox;
}
h2 {
  text-align: center;
}


form {
  display: flexbox;
  margin-right: 300px;
  /* margin-left: 500px; */
  padding-top: 59px;
  font-family: 'Prompt', sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 21px;
}
/* Full-width input fields */

input[type=text] {
  width: 50%px;
  padding: 9px 9px 9px 9px;
  border: 3px solid rgb(245, 56, 9);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  

}

label {
  padding: 12px;
  display: inline-block;
}

/* Style the submit button */

input[type=submit] {
  background-color: #f30b3d;
  color: white;
  padding: 9px 20px;
  border: solid;
  border-color: rgb(105, 54, 172);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

.flex-container {
  display: flex;
  display: inline-flex;
  f
}
.fit {
  flex: 2;
}
.
 
  /* Just so it's visible */

.wide {
  flex: 1;
  
}




/* Set a style for the submit button */

.button {
  background-color: #4CAF50;
  color: white;
  padding: 9px 12px;
  border-color: black;
  border-style: solid;
  ;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
  
}

.button:hover {
  opacity: 1;
}


/* .containers layouts tricks */ */
.results-listing {
  display: inline-flexbox;
  margin-left: 30px;

 
}
 .container {
  display: flexbox;
   max-width: 35%; 
   padding: 1px;
  font-family: 'Prompt', sans-serif; */
  position: relative;
  text-align: center;

  

}


.error-message {
  color: red;
}

.hidden {
  display: none;
}
@media all and (min-width: 800px) {

  section, h1 {
    padding: 0 10%;
  }

  .group, div{
    flex-direction: row;
  }

}





p, section {
  text-align: center;
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
}
/* images - poster */
img {
  display: flexbox;
  max-width: 70%;
  max-height: auto;
  border: solid;
  border-color: red;
}
#summary {
  max-width: 45%;
}

.results-listing{
  width: auto;
  border: none;
}

/* list and links */
ul {
  text-align: center;

  font-size: 20px;
  max-width:auto;
  list-style-type: none;
  border: solid;
  border-width: 4px;
  border-color: red;
  padding: 1px;
  font-family: 'Prompt', sans-serif;
  display: flexbox;
  color: black;
  
  background-color:white;
}

ul li {
  list-style-type: none;
  background: white;
  text-align: center;
  
  
}
a:link {
  text-decoration: none;
}

/* unvisited link */

a:link {
  color: black;
}

/* visited link */

a:visited {
  color: orange;
}

/* mouse over link */

a:hover {
  color: hotpink;
}

/* selected link */

a:active {
  color: blue;
}
p {
  max-width: 80px;
  text-align: center;
  
}



